<!DOCTYPE html>
<html>
<head>
  <title>Date Converter</title>
  <link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <h1>Date Converter</h1>
    <div>
      <h2>Oxford</h2>
    </div>
    <div>
      <h2>Everyone Else</h2>
    </div>
  </div>
</body>
</html>
